html{
    box-sizing: border-box;
}
*,
*::after
*::before{
    box-sizing: inherit;
}
a{
    text-decoration: none;
}
body{
    color: #181818;
    font-weight: 400;
    font-size: 16px;
    font-family: "Roboto Condensed", serif;
}
.header {
    background-color: #332208;
}
.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0px 10px;
}
.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}
.menu__btn{
    display: none;
}
.menu__list {
    display: flex;
}
.menu__item {
    margin: 0 15px;
}
.menu__link {
    text-transform: uppercase;
    color: #fefefe;
    font-size: 18px;
    line-height: 21px;
    padding-bottom: 5px;
    transition: all 0.3s;
    border-bottom: 1px solid transparent;
}
.menu__link:hover{
    border-bottom: 1px solid #C5AC2D;
}
.phone {
    font-size: 18px;
    line-height: 21px;
    color: #fefefe;
}
.top {
    padding-bottom: 100px;
}

.top__heading {
    display: flex;
    padding: 50px 0 30px;
}
.top__content {
    text-align: center;
    width: 50%;
}
.top__tatli {
    max-width: 454px;
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    padding-top: 90px;
    margin:0 auto 30px;
    font-family: "Roboto Condensed", serif;
}
.top__text {
    max-width: 470px;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    margin:0 auto 60px;
}
.content__btn {
    text-align: center;
    padding: 15px  20px;
    background-color: #C5AC2D;
    color: #fefefe;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
}
.content__btn:hover{
    background-color: #fefefe;
    color: #C5AC2D;
    transition: all 0.3s;
    border: 1px solid #C5AC2D;
}
.top__slilder {
    width: 50%;
}

.top__button {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
.top__button-items {
    width: 50%;
    display: flex;
    justify-content: space-around;
}
.top__item {
    border: 1px solid #181818;
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 150px;
    height: 150px;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    transition: all 0.5s;
}
.top__item:hover{
    transform: scale(1.25);
}
.top__button-text {
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
}
.top__button-links {
    padding-right: 100px;
}
.top__button-link {
    font-size: 16px;
    line-height: 19px;
    color: #181818;
    border-bottom: 1px solid #181818;
    margin-left: 20px;
}
.terms {
    padding: 100px 0;
}
.conteiner {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0px 10px;
}
.terms__inner {
    display: flex;
    justify-content: space-between;
}
.terms__content {
    width: 300px;
}
.terms__tatli {
    font-family: "Roboto Condensed", serif;
    max-width: 191px;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 31px;
}
.terms__text{
    margin-bottom: 20px;
}
.terms__text + .terms__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    max-width: 300px;
    margin-bottom: 40px;
}

.terms__item {
    border: 1px solid #181818;
    width: 250px;
    text-align: center;
    padding: 0 35px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.terms__item-num {
    font-weight: 500;
    font-size: 96px;
    line-height: 112px;
    opacity: 0.05;
}
.terms__item-tatli {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: auto;
}
.advantages {
    padding-top: 100px;
    margin-bottom: 177px;
}
.cotainer {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0px 10px;
}
.advantages__title {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #181818;
    margin-bottom: 48px;
}
.advantages__items {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.advantages__list {
    width: 300px;
}
.advantages__item {
    margin-bottom: 27px;
    padding-right: 26px;
    position: relative;
    text-align: right;
}
.advantages__item::after{
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #181818;
    right: 0;
}
.advantages__item:nth-child(1),
.advantages__item:nth-child(7){
    margin-right: 10px;
}
.advantages__item:nth-child(2),
.advantages__item:nth-child(6){
    margin-right: 60px;
}
.advantages__item:nth-child(3),
.advantages__item:nth-child(5){
    margin-right: 100px;
}
.advantages__item:nth-child(4){
    margin-right: 140px;
}
.advantagas__content {
    width: 300px;
    text-align: right;
}
.advantagas__content-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #181818;
    margin-bottom: 30px;
    text-align: right;
}
.advantagas__content-text + .advantagas__content-text{
    width: 267px;
    margin-left: auto;
}
.video-popup {
    background-color: #C5AC2D;
    color: #fefefe;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    padding: 6px 34px 6px 64px;
    text-align: center;
    display: inline-block;
    position: relative;
}
.video-popup::before{
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    background-image: url(../imeges/PLAY.svg);
    left: 25px;
    top: 12px;
}
.video-popup:hover{
    background-color: #938d8d;
    color: #C5AC2D;
    transition: all 0.3s;
    border: 1px solid #C5AC2D;
}
.Reviews {
    padding: 100px 0;
    background-color: #332208;
    color: #fefefe;
}
.reviews__tatli {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
}
.reviws__item {
    border-bottom: 1px solid #C5AC2D;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 45px 30px;
    width: 270px;
    min-height: 300px;
}
.reviews__item-name {
    padding-top: 46px;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 47px;
}
.reviews__item-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    padding: 47px 30px 30px 45px;
}
.slick-dots li button{
    border-radius: 50%;
    background-color: #C5AC2D;
    width: 15px;
    height: 15px;
    margin-top: 35px;
}
.sending {
    padding: 100px 0;
}
.sending__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.form__img {
    width: 50%;
}
.sending__form {
    width: 415px;
    margin: 0 auto;
}
.sending__title {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #181818;
    margin-bottom: 5px;
}
.sending__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 30px;
}
.sending__input {
    display: block;
    padding: 10px 0;
    width: 100%;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    margin-bottom: 30px;
}
.sending__btn{
    display: inline-block;
    border: none;
    padding: 15px 30px 15px;
    color: #fefefe;
    background-color: #C5AC2D;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

}
.sending__btn:hover{
    background-color: #fefefe;
    color: #C5AC2D;
}
.footer {
    background-color: #332208;
    padding: 100px 0 24px;
}
.footer__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 36px;
}
.footer__social {
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer__item {
    margin: 0 15px;
}
@media (max-width: 1400px){

}

@media (max-width: 1250px){
    .advantages__img{
        width: 40%;
    }
    .advantages{
        padding-top: 50px;
        margin-bottom: 60px;
    }
}

@media (max-width: 1200px){
    .top{
        padding-bottom: 20px;
    }
    .top__heading{
        display: block;
        padding-top: 10px;
    }
    .top__content{
        width: 100%;
    }
    .top__slilder{
        width: 100%;
        
    }
    .top__tatli{
        padding-top: 40px;
    }
    .top__button{
        display: block;
        margin-bottom: 10px;
    }
    .top__button-links{
        padding-right: 0;
        padding-top: 50px;
        text-align: center;
    }
    .top__button-items{
        width: 100%;
    }
}
@media (max-width: 1140px){
    .terms{
        padding: 50px 0;
    }
    .terms__inner{
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .terms__content{
        width: 100%;
        margin-bottom: 50px;
    }
    .menu__item{
        margin-bottom: 10px;
    }
    .advantagas__content{
        width: 100%;
        margin-top: 30px;
    }
    .advantages__items{
        flex-wrap: wrap;
        justify-content: space-around;
    }
}
@media (max-width: 1000px){
 .footer .menu{
        display: none;
    }
}
@media (max-width: 800px) {

    .menu{
        order: 1;
    }
    .menu__btn{
        display: block;
        width: 40px;
        height: 30px;
        border: none;
        border-top: 1px solid #fefefe;
        border-bottom: 1px solid #fefefe;
        background-color: transparent;
        position: relative;
    }
    .menu__btn::before{
        content: '';
        position: absolute;
        width: 40px;
        height: 1px;
        background-color: #fefefe;
        left: 0;
    }
    .menu__list{
        display: block;
        position: absolute;
        top: 100px;
        left: 0;
        background-color: #332208;
        right: 0;
        text-align: center;
        padding: 20px 0;
        transform: translateY(-500px);
        transition: all 1.5s;
        
    }
    .menu__list.menu__list--active{
        transform: translateY(0);
    }
    .menu__link{
        padding: 20px 0;
        display: block;

    }
    .advantagas__content-text + .advantagas__content-text{
        width: 100%;
    }
    .sending{
        padding: 50px 0;
    }
    .sending__inner{
        flex-wrap: wrap;
        text-align: center;
    }
    .form__img{
        width: 80%;
    }
}
@media (max-width: 550px){
    .top__button-items{
        flex-wrap: wrap;
    }
    .top__item{
        margin: 20px;
    }
    .terms__content{
        text-align: center;
    }
    .terms__text + .terms__text{
        text-align: center;
    }
    .advantages__img{
        width: 70%;
    }
    .advantages__item{
        margin-right: 0;
        text-align: left;
        padding-right: 0;
        padding-left: 26px;
    }
    .advantages__item::after {
        right: auto;
        left: 0;
    }
    .advantagas__content{
        text-align: center;
    }
    .footer__top{
        flex-direction: column;
        align-items: center;
    }
    .footer .phone{
        margin-top: 30px;
        display: inline-block;
    }
}
@media (max-width: 410px){
    .top__item{
        width: 100%;
        min-height: 120px;
    }
}
